name: Deploy to Production

# Trigger the workflow on push to the main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Connect to Tailscale
      uses: tailscale/github-action@v2
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
        args: --accept-routes

    - name: Deploy via SSH
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        echo "StrictHostKeyChecking no" >> ~/.ssh/config
        ssh -i ~/.ssh/id_ed25519 -o ConnectTimeout=30 ${{ secrets.USERNAME }}@${{ secrets.HOST }} "
            set -e
            sudo chown -R kali:kali /var/www/trial-cicd
            git config --global --add safe.directory /var/www/trial-cicd
            cd /var/www/trial-cicd
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            python manage.py migrate
            sudo systemctl restart mywebsite
        "
